<div  class="min-w-80 max-w-3xl p-5 m-2 bg-cover" style="background-image: url('https://i.pinimg.com/564x/ae/df/b2/aedfb2094f51330330e83f667e2272a1.jpg')">
  <h1 class="font-bold text-blue-900 text-2xl mb-3">Editing Task</h1>

  <turbo-frame id="<%= dom_id @task %>" class="block">
    <%= render "form", task: @task %>
    <%= link_to "Back", tasks_path, class: "btn mb-3 bg-violet-100 text-violet-900" %>
  </turbo-frame>
</div> 